<% if(typeof(post) == 'undefined') { %>
<div class="sidebar-module sidebar-about">
    <h3>ABOUT</h3>
    <div class="sidebar-body">
        <div class="face"><img src="http://7vzqh7.com1.z0.glb.clouddn.com/avatar.jpg" width="180" height="180"></div>
        <p><a href="/about">Read more</a></p>
    </div>
</div>
<% } %>