<% if (req.session.admin) { %>
<div class="sidebar-module sidebar-catalogs">
    <h3>MANAGE</h3>
    <div class="sidebar-body"><ul class="sidebar-list">
            <li class="sidebar-item"><a yuuko-static href="/admin">参数设定</a></li>
            <li class="sidebar-item"><a yuuko-static href="javascript:$('#frmNewPost').submit();">添加文章</a></li>
            <li class="sidebar-item"><a href="/admin/catalog">分类管理</a></li>
            <li class="sidebar-item"><a yuuko-static href="javascript:$('#frmLogout').submit();">注销登录</a></li>
        </ul></div>
    <form action="/admin/post/new" method="post" id="frmNewPost">
        <input type="hidden" value="<%= csrf %>" name="_csrf" />
    </form>
    <form action="/admin/logout" method="post" id="frmLogout">
        <input type="hidden" value="<%= csrf %>" name="_csrf" />
    </form>
</div>
<% } %>