<div class="grid_3">
    <div class="sidebar">
        <% include postinfo %>
        <% include catalog %>
        <% include calendar %>
        <% include tag %>
        <% include admin %>
    </div>
    <% include about %>
</div>
</div>
<div class="clear"></div>
